<style type="text/css">
    td, th {
        padding: 3px;
    }
</style>
<script type="text/javascript">
    function exam(examNo) {
        $('#loading').show();
        $.ajax({
            url: '../api/exam?examNo=' + examNo,
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                $.each(data, function (index, element) {
                    $('#span_result').append(element + '<br/>');
                });
            },
            error: function (xhr, textStatus, errorThrown) {
                alert(errorThrown);
            },
            complete: function () {
                $('#loading').hide();
            }
        });
    }
</script>
<section class="sections">
    <div class="container txtWidth">
        <div class="coloricon">
            <div class="heading wow fadeIn animated" data-wow-offset="120" data-wow-duration="1.5s" style="visibility: visible; animation-duration: 1.5s; animation-name: fadeIn;">
                <div class="title text-center title-theme">
                    <h1>Exam</h1>
                </div>
                <div class="separator"></div>
            </div>
            <div class="wow fadeInLeft" data-wow-offset="120" data-wow-duration="1.5s" style="visibility: visible; animation-duration: 1.5s; animation-name: fadeInLeft;">
                <div class="tab-content">
                    <p>
                        1. String reverse
                        <input type="button" class="btn btn-defaultc2 btn-lg2" value="GO" onclick="exam(1);" />
                    </p>
                    <p>
                        <span id="span_result" style="color:blue;font-size:14px;" />
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>