<style type="text/css">
    td, th {
        padding: 3px;
    }
</style>
<script type="text/javascript">
    function uuidv4() {
        return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function (c) {
            var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);
            return v.toString(16);
        });
    }

    function testGetAll() {
        get('','','','','','','');
    }

    function testGet() {
        var id_syntax = '';
        var name_syntax = '';
        var gender_syntax = '';
        var blood_syntax = '';
        var height_syntax = '';
        var weight_syntax = '';
        var coupon_syntax = '';

        if ($('#select_Id').length > 0) {
            id_syntax = $('#select_Id').val() + '|' + $('#search_Id').val().replace(/%/g,'percentage');
        }
        if ($('#select_Name').length > 0) {
            name_syntax = $('#select_Name').val() + '|' + $('#search_Name').val().replace(/%/g, 'percentage');
        }
        if ($('#select_Coupon').length > 0) {
            coupon_syntax = $('#select_Coupon').val() + '|' + $('#search_Coupon').val().replace(/%/g, 'percentage');
        }
        if ($('#select_Height').length > 0) {
            height_syntax = $('#select_Height').val() + '|' + ($('#select_Height').val() == 'between' ? $('#search_Height').val() + ',' + $('#search_Height2').val() : $('#search_Height').val());
        }
        if ($('#select_Weight').length > 0) {
            weight_syntax = $('#select_Weight').val() + '|' + ($('#select_Weight').val() == 'between' ? $('#search_Weight').val() + ',' + $('#search_Weight2').val() : $('#search_Weight').val());
        }
        if ($('input[name=search_Gender]').length > 0) {
            gender_syntax = 'equal|' + $('input[name=search_Gender]:checked').val();
        }
        if ($('input[name=search_Blood]').length > 0) {
            var array = new Array();
            $('input[name=search_Blood]:checked').each(function (i) {
                array[i] = this.value;
            })
            if (array.length == 0) {
                alert('please choose a blood!');
                return;
            }
            blood_syntax = 'in|' + array.join();
        }

        get(id_syntax, name_syntax, gender_syntax, blood_syntax, height_syntax, weight_syntax, coupon_syntax);
    }

    function get(id_syntax, name_syntax, gender_syntax, blood_syntax, height_syntax, weight_syntax, coupon_syntax) {
        var noNeed = 'noNeed';
        $('#loading').show();
        $('#span_table').html('<table id="table1" style="font-size:12px;"></table>');  //初始化table1

        var api = "../api/StudentProfiles/";
        if (id_syntax == '' && name_syntax == '' && gender_syntax == '' && blood_syntax == '' && height_syntax == '' && weight_syntax == '' && coupon_syntax == '') {

        }
        else {  //組API url: api/StudentProfiles/{Id}?Name={Name}&Gender={Gender}&Blood={Blood}&Height={Height}&Weight={Weight}&Coupon={Coupon}
            api += id_syntax == '' ? noNeed : id_syntax;
            api += "?Name=";
            api += name_syntax == '' ? noNeed : name_syntax;
            api += "&Gender=";
            api += gender_syntax == '' ? noNeed : gender_syntax;
            api += "&Blood=";
            api += blood_syntax == '' ? noNeed : blood_syntax;
            api += "&Height=";
            api += height_syntax == '' ? noNeed : height_syntax;
            api += "&Weight=";
            api += weight_syntax == '' ? noNeed : weight_syntax;
            api += "&Coupon=";
            api += coupon_syntax == '' ? noNeed : coupon_syntax;
        }

        $.getJSON(api, function (result) {
            $('#span_msg').text(result.msg);

            $('#table1').html('<thead><tr><th>Id</th><th>Name</th><th>Gender</th><th>Blood</th><th>Height</th><th>Weight</th><th>Coupon</th><th></th></tr></thead><tbody>');
            $.each(result.ds, function (i, item) {
                var $tr = $('<tr>').append(
                    $('<td>').html('<span class="col1">' + item.Id + '</span>'),
                    $('<td>').html('<span class="col2">' + item.Name + '</span>'),
                    $('<td>').html('<span class="col3">' + item.Gender + '</span>'),
                    $('<td>').html('<span class="col4">' + item.Blood + '</span>'),
                    $('<td>').html('<span class="col5">' + item.Height + '</span>'),
                    $('<td>').html('<span class="col6">' + item.Weight + '</span>'),
                    $('<td>').html('<span class="col7">' + item.Coupon + '</span>'),
                    $('<td>').html('<input type="button" class="normal" value="修改" onclick="toUpdate();" /> <input type="button" style="display:none" class="toUpdate" value="確定修改" onclick="testPut(\'' + item.guid + '\');" /> <input type="button" style="display:none" class="toUpdate" value="取消" onclick="cancelUpdate();" /> <input type="button" class="normal" value="刪除" onclick="testDelete(\'' + item.guid + '\');" />')
                ).appendTo('#table1');
            });
            $('#table1').DataTable({
                "columnDefs": [
                    { "orderable": false, "targets": 7 }  //第七個欄位取消排序
                ]
            });
        }).fail(function (jqXHR, textStatus, errorThrown) {
            alert(jqXHR.responseJSON.Message);
        }).always(function () {
            $('#loading').hide();
        });
    }

    function testPost() {
        var StudentProfile = new Object();
        StudentProfile.guid = uuidv4();
        StudentProfile.Id = $('#add_id').val();
        StudentProfile.Name = $('#add_Name').val();
        StudentProfile.Gender = $('input[name=add_Gender]:checked').val();
        StudentProfile.Blood = $('input[name=add_Blood]:checked').val();
        StudentProfile.Height = $('#add_Height').val();
        StudentProfile.Weight = $('#add_Weight').val();
        StudentProfile.Coupon = $('#add_Coupon').val();

        $.ajax({
            url: '../api/StudentProfiles/',
            type: 'POST',
            dataType: 'json',
            data: StudentProfile,
            success: function (data, textStatus, xhr) {
                alert('新增成功');
                testGetAll();
            },
            error: function (xhr, textStatus, errorThrown) {
                alert(xhr.responseText);
            }
        });
    }

    var colNum = 7;

    function toUpdate() {
        $(event.target).parent().find('.normal').hide();
        $(event.target).parent().find('.toUpdate').show();

        for (var i = 1; i <= colNum; i++) {
            var oldSpan = $(event.target).parent().parent().find('.col' + i);

            if (i == 1) {
                oldSpan.parent().append('<input type="text" class="col_new' + i + '" style="width:80px;" maxlength="10" value="' + oldSpan.text() + '" />');
            } else if (i == 3) {
                oldSpan.parent().append('<select class="col_new' + i + '"><option value="M">Male</option><option value="F">Female</option></select>');
                oldSpan.parent().find('.col_new' + i).val(oldSpan.text());
            } else if (i == 4) {
                oldSpan.parent().append('<select class="col_new' + i + '"><option value="A">A</option><option value="B">B</option><option value="AB">AB</option><option value="O">O</option></select>');
                oldSpan.parent().find('.col_new' + i).val(oldSpan.text());
            } else if (i == 5 || i == 6) {
                oldSpan.parent().append('<input type="text" class="col_new' + i + '" style="width:50px;" maxlength="6" onkeydown="typeNumberOnly(event);" onblur="checkNumber(this);" value="' + oldSpan.text() + '" />');
            } else {
                oldSpan.parent().append('<input type="text" class="col_new' + i + '" style="width:80px;" value="' + oldSpan.text() + '" />');
            }

            oldSpan.hide();
        }
    }

    function cancelUpdate() {
        $(event.target).parent().find('.normal').show();
        $(event.target).parent().find('.toUpdate').hide();

        for (var i = 1; i <= colNum; i++) {
            $(event.target).parent().parent().find('.col' + i).show();
            $(event.target).parent().parent().find('.col_new' + i).remove();
        }
    }

    function testPut(guid) {
        $(event.target).parent().find('.normal').show();
        $(event.target).parent().find('.toUpdate').hide();

        var obj_tr = $(event.target).parent().parent();

        var StudentProfile = new Object();
        StudentProfile.guid = guid;
        StudentProfile.Id = obj_tr.find('.col_new1').val();
        StudentProfile.Name = obj_tr.find('.col_new2').val();
        StudentProfile.Gender = obj_tr.find('.col_new3').val();
        StudentProfile.Blood = obj_tr.find('.col_new4').val();
        StudentProfile.Height = obj_tr.find('.col_new5').val()
        StudentProfile.Weight = obj_tr.find('.col_new6').val();
        StudentProfile.Coupon = obj_tr.find('.col_new7').val();

        $.ajax({
            url: '../api/StudentProfiles/',
            type: 'PUT',
            dataType: 'json',
            data: StudentProfile,
            success: function (data, textStatus, xhr) {
                alert('修改成功');
                for (var i = 1; i <= colNum; i++) {
                    obj_tr.find('.col' + i).text(obj_tr.find('.col_new' + i).val());
                }
            },
            error: function (xhr, textStatus, errorThrown) {
                alert(errorThrown);
            },
            complete: function () {
                for (var i = 1; i <= colNum; i++) {
                    obj_tr.find('.col' + i).show();
                    obj_tr.find('.col_new' + i).remove();
                }
            }
        });
    }

    function testDelete(guid) {
        $.ajax({
            url: '../api/StudentProfiles?guid=' + guid,
            type: 'DELETE',
            dataType: 'json',
            success: function (data, textStatus, xhr) {
                alert('刪除成功');
                testGetAll();
            },
            error: function (xhr, textStatus, errorThrown) {
                alert(errorThrown);
            }
        });
    }

    function testDeleteAll() {
        if (!confirm('Are you sure to clean all data?')) {
            return;
        }

        $.ajax({
            url: '../api/StudentProfiles?all=yes',
            type: 'DELETE',
            dataType: 'json',
            success: function (data, textStatus, xhr) {
                alert('刪除成功');
                testGetAll();
            },
            error: function (xhr, textStatus, errorThrown) {
                alert(errorThrown);
            }
        });
    }

    function betweenAdd(filter) {
        var select = $('#select_' + filter);
        if (select.val() == 'between') {
            select.parent().append('<span> and <input type="text" id="search_' + filter + '2" style="width: 60px;" maxlength="6" onkeydown="typeNumberOnly(event);" onblur="checkNumber(this);" /></span>');
        }
        else {
            select.parent().find('span').remove();
        }
    }

    function addFilter() {
        var filter = $('#search_filter').val();
        var removeIcon = '<img src="../icons/remove.png" class="removeIcon" style="display:none; cursor:pointer;" height="20" width="20" onclick="removeFilter(\'' + filter + '\');" />';
        var operator = '';

        //新增過濾條件
        if (filter == 'Id' || filter == 'Name' || filter == 'Coupon') {
            operator = '<select id = "select_' + filter +'">' +
                '<option value="equal">=</option>' +
                '<option value="like">like</option>' +
                '</select>';
            $('#div_filter').append('<div>' + removeIcon + ' ' + filter + ' ' + operator + ' <input type="text" id="search_' + filter + '" style="width: 100px;" /></div>');
        } else if (filter == 'Height' || filter == 'Weight') {
            operator = '<select id = "select_' + filter + '" onchange="betweenAdd(\'' + filter + '\');">' +
                '<option value="equal">=</option>' +
                '<option value="moreThan">></option>' +
                '<option value="moreThanOrEqual">>=</option>' +
                '<option value="lessThan"><</option>' +
                '<option value="lessThanOrEqual"><=</option>' +
                '<option value="between">between</option>' +
                '</select>';
            $('#div_filter').append('<div>' + removeIcon + ' ' + filter + ' ' + operator + ' <input type="text" id="search_' + filter + '" style="width: 60px;" maxlength="6" onkeydown="typeNumberOnly(event);" onblur="checkNumber(this);" /></div>');
        } else if (filter == 'Gender') {
            operator = '&nbsp; Male <input type="radio" name="search_' + filter + '" value="M" checked /> &nbsp;' +
                'Female <input type="radio" name="search_' + filter + '" value="F" />';
            $('#div_filter').append('<div>' + removeIcon + ' ' + filter + ' ' + operator + '</div>');
        } else if (filter == 'Blood') {
            operator = '&nbsp; A <input type="checkbox" name="search_' + filter + '" value="A" /> &nbsp;' +
                'B <input type="checkbox" name="search_' + filter + '" value="B" /> &nbsp;' +
                'AB <input type="checkbox" name="search_' + filter + '" value="AB" /> &nbsp;' +
                'O <input type="checkbox" name="search_' + filter + '" value="O" />';
            $('#div_filter').append('<div>' + removeIcon + ' ' + filter + ' ' + operator + '</div>');
        }

        //移除可選的選項
        $("#search_filter :selected").remove();
        if ($('select#search_filter option').length == 0) {
            $('#search_filter').hide();
            $('#filter_plus').hide();
        }

        //顯示remove icon
        $('#filterNum').val(parseInt($('#filterNum').val(), 10) + 1);
        var filterNum = parseInt($('#filterNum').val(), 10)
        if (filterNum > 1) {
            $('.removeIcon').show();
        }
    }

    function removeFilter(filter) {
        //刪除過濾條件
        $(event.target).parent().remove();

        //新增可選的選項
        $('#search_filter').append($("<option></option>").attr("value", filter).text(filter));
        if ($('select#search_filter option').length > 0) {
            $('#search_filter').show();
            $('#filter_plus').show();
        }

        //隱藏remove icon
        $('#filterNum').val(parseInt($('#filterNum').val(), 10) - 1);
        var filterNum = parseInt($('#filterNum').val(), 10)
        if (filterNum == 1) {
            $('.removeIcon').hide();
        }
    }
</script>
<section class="sections">
    <div class="container txtWidth">
        <div class="coloricon">
            <div class="heading wow fadeIn animated" data-wow-offset="120" data-wow-duration="1.5s" style="visibility: visible; animation-duration: 1.5s; animation-name: fadeIn;">
                <div class="title text-center title-theme">
                    <h1>Student Profile</h1>
                </div>
                <div class="separator"></div>
            </div>
            <div class="wow fadeInLeft" data-wow-offset="120" data-wow-duration="1.5s" style="visibility: visible; animation-duration: 1.5s; animation-name: fadeInLeft;">
                <div class="tab-content">
                    <p>
                        <span id="span_msg"></span>
                    </p>
                    <span id="span_table"></span>
                    <p>
                        Search All
                        <input type="button" class="btn btn-defaultc2 btn-lg2" value="GO" onclick="testGetAll();" />
                    </p>
                    <p>
                        Search Filter
                        <select id="search_filter" style="font-size: 15px;">
                            <option value="Name">Name</option>
                            <option value="Gender">Gender</option>
                            <option value="Blood">Blood</option>
                            <option value="Height">Height</option>
                            <option value="Weight">Weight</option>
                            <option value="Coupon">Coupon</option>
                        </select>
                        <img id="filter_plus" src="~/icons/plus.png" style="cursor:pointer;" height="20" width="20" onclick="addFilter();" />
                        <input type="hidden" id="filterNum" value="1" />
                        <div id="div_filter">
                            <div>
                                <img src="../icons/remove.png" class="removeIcon" style="display:none; cursor:pointer;" height="20" width="20" onclick="removeFilter('Id');" />
                                Id <select id="select_Id"><option value="equal">=</option><option value="like">like</option></select>
                                <input type="text" id="search_Id" style="width: 100px;" maxlength="10" />
                            </div>
                        </div>
                        <br />
                        <input type="button" class="btn btn-defaultc2 btn-lg2" value="Search" onclick="testGet();" />
                    </p>
                    <p>
                        Insert a new student data
                    </p>
                    <p>
                        <table>
                            <tr>
                                <td>Id</td>
                                <td><input type="text" id="add_id" style="width: 100px;" maxlength="10" /></td>
                            </tr>
                            <tr>
                                <td>Name</td>
                                <td><input type="text" id="add_Name" /></td>
                            </tr>
                            <tr>
                                <td>Gender</td>
                                <td>
                                    Male <input type="radio" name="add_Gender" value="M" />
                                    &nbsp;
                                    Female <input type="radio" name="add_Gender" value="F" />
                                </td>
                            </tr>
                            <tr>
                                <td>Blood</td>
                                <td>
                                    A <input type="radio" name="add_Blood" value="A" />
                                    &nbsp;
                                    B <input type="radio" name="add_Blood" value="B" />
                                    &nbsp;
                                    AB <input type="radio" name="add_Blood" value="AB" />
                                    &nbsp;
                                    O <input type="radio" name="add_Blood" value="O" />
                                </td>
                            </tr>
                            <tr>
                                <td>Height</td>
                                <td><input type="text" id="add_Height" style="width: 60px;" maxlength="6" onkeydown="typeNumberOnly(event);" onblur="checkNumber(this);" /> cm</td>
                            </tr>
                            <tr>
                                <td>Weight</td>
                                <td><input type="text" id="add_Weight" style="width: 60px;" maxlength="6" onkeydown="typeNumberOnly(event);" onblur="checkNumber(this);" /> kg</td>
                            </tr>
                            <tr>
                                <td>Coupon</td>
                                <td><input type="text" id="add_Coupon" /></td>
                            </tr>
                        </table>
                        <input type="button" class="btn btn-defaultc2 btn-lg2" value="insert" onclick="testPost();" />
                    </p>
                    <p>
                        Delete All
                        <input type="button" class="btn btn-defaultc2 btn-lg2" value="GO" onclick="testDeleteAll();" />
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>